#grad{
    height: auto;
    background-image: linear-gradient(180deg, #EAEAEA 0%, #FFFFFF 100%);
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover {
  color: #666666;
  font-weight: 600;
}

h1{
    font-family: 'Work Sans', sans-serif;
    padding: 200px 0px 50px;
    font-size: 27px;
    font-weight: 600;
    line-height: 32px;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: #8678EA;
}

h2{
    font-family: 'Work Sans', sans-serif;
    padding: 0px 0px 20px;
    font-size: 27px;
    font-weight: 800;
    line-height: 32px;
    margin-left: 30px;
    color: #8678EA;
    margin-top: 5%;
}
h3{
    font-family: 'Biryani', sans-serif;
    padding: 0px 0px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-left: 30px;
    color: #222222;
}
ul{
    margin-left: 20%;
    margin-top: 20%;
}

li{
    padding-bottom: 10px;
}

.cover_01{
    width:auto;
    height:314px;
    border-radius: 20px;
    background-image: url(/imgs/livro5is.png);
    background-size:cover;
    background-position:50% 43%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.cover_02{
    width:auto;
    height:314px;
    border-radius: 20px;
    background-image: url(/imgs/design_.png);
    background-size:cover;
    background-position:50% 43%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer {
    padding: 20px 0 16px 0;
    text-align: center;
    background: #fff;
    font-family: 'Biryani', sans-serif;
}
.footer-copyright p {
    margin:20px 20px 20px 20px;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    color: #666;
    
}