* {box-sizing:border-box}

#grad{
    height: auto;
    background-image: linear-gradient(180deg, #EAEAEA 0%, #FFFFFF 100%);
}
a{
    color: inherit;
    text-decoration: none;
}

a:hover {
  color: #666666;
  font-weight: 600;
}

.grid-container{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 10px;
    margin-bottom: 3%;
}

@media only screen and (max-width:900px) {
        
.grid-container{
    display: grid;
    grid-template-columns: 100%;
}
}

h1{
    font-family: 'Work Sans', sans-serif;
    padding: 200px 0px 50px;
    font-size: 27px;
    font-weight: 600;
    line-height: 32px;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    color: #65caff;
}

h2{
    font-family: 'Work Sans', sans-serif;
    padding: 0px 0px 20px;
    font-size: 27px;
    font-weight: 800;
    line-height: 32px;
    margin-left: 30px;
    color: #65caff;
}

h3{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #666666;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

h4{
   font-family: 'Biryani', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #666666;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px; 
   font-weight: 400;

}

p{
    font-family: 'Biryani', sans-serif;
    padding: 0px 0px 50px;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    color: #212121;
}

ul{
    margin-left: 20%;
    margin-top: 20%;
}

li{
    padding-bottom: 10px;
}

.cover_01{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/PROJETOS/saura.png);
    background-size:cover;
    background-position:40% 40%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cover_02{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/PROJETOS/valentina.png);
    background-size:cover;
    background-position:40% 40%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top:20px;
}

.cover_03{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/PROJETOS/angela.png);
    background-size:cover;
    background-position:40% 40%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top:20px;
}

.cover_04{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/PROJETOS/greice.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top:20px;
}
.cover_05{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/PROJETOS/tayna.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top:20px;
}
.cover_06{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/PROJETOS/gustavo.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top:20px;
}
.cover_07{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/PROJETOS/INICIO.png);
    background-size:cover;
    background-position:20% 20%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top:20px;
}
.cover_08{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/miaw1.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cover_09{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/miaw1.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cover_10{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/miaw1.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cover_11{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/miaw1.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cover_12{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/miaw1.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cover_13{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/miaw1.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cover_14{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/miaw1.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cover_15{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/brinc2.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.cover_16{
    width:auto;
    height:206px;
    border-radius: 20px;
    background-image: url(/imgs/INTERFACE_IMAGENS/miaw1.png);
    background-size:cover;
    background-position:50% 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.item1{   

}
.item2{
}
.item3{

}
.item4{

}

.item5{

}
.item6{

}
.item7{

}
.item8{

}
.item9{

}
.item10{

}
.item11{

}
.item12{

}
.item13{

}
.item14{

}
.item15{

}
.item16{

}

.container{
 background-color: #333333;

    
}


.footer {
    padding: 20px 0 16px 0;
    text-align: center;
    background: #fff;
}
.footer-copyright p {
    margin:20px 20px 20px 20px;
    text-align: center;
    line-height: 14px;
    font-size: 0.75rem;
    color: #ffffff;
        font-family: 'Biryani', sans-serif;

}

