#grad{
    height: auto;
    background-image: linear-gradient(180deg, #EAEAEA 0%, #FFFFFF 100%);
}

h1{
    font-family: 'Work Sans', sans-serif;
    padding: 200px 0px 50px;
    font-size: 27px;
    font-weight: 600;
    line-height: 32px;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    color: #3D71B7;  
}

h2{
    font-family: 'Work Sans', sans-serif;
    padding: 0px 0px 50px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    color: #3168B2;  
}

h3{
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #666666;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

p{
    font-family: 'Biryani', sans-serif;
    padding: 0px 0px 50px;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    color: #212121;
}

ul{
    margin-left: 20%;
    margin-top: 20%;
}

li{
    padding-bottom: 10px;
}

article p{
    font-family: 'Biryani', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #212121;
    margin-top: 10px;
}

article p span:nth-of-type(1){
    font-weight: bold;
}

article p span:nth-of-type(2){
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    color: rgba(1, 139, 169, 0.82);
}

article a{
    color: inherit;
    text-decoration: none;
}

.participante_01{
    width:150px;
    height:150px;
    border-radius: 50%;
    background-image: url(imgs/fernando_fogliano.png);
    background-size:cover;
    /*background-position:0% 0%;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}