#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #facc6b;
  width: 450px;
  height: 966px;
  padding: 80px 99px;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size:36px;
  text-align: left;
  background: #2c2c33;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
          
          
#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  
}